HW1/NiFi_Flow.json
{"flowContents":{"identifier":"91cc1be9-6ca0-3441-a388-8dd81954a0a0","instanceIdentifier":"8e7579cf-0194-1000-5adb-ded8861ae24e","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"2d7995ce-921b-36c8-9e94-870a1038bbf6","instanceIdentifier":"8e80a6cd-0194-1000-f9fe-14c14e08781b","name":"EvaluateJsonPath","comments":"","position":{"x":-272.0,"y":752.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"Destination":"flowfile-attribute","favFoods":"$.favFoods","Max String Length":"20 MB","species":"$.species","birthYear":"$.birthYear","Return Type":"json","name":"$.name","photo":"$.photo","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"favFoods":{"name":"favFoods","displayName":"favFoods","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"species":{"name":"species","displayName":"species","identifiesControllerService":false,"sensitive":false,"dynamic":true},"birthYear":{"name":"birthYear","displayName":"birthYear","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"name":{"name":"name","displayName":"name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"photo":{"name":"photo","displayName":"photo","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"91cc1be9-6ca0-3441-a388-8dd81954a0a0"},{"identifier":"c83c5c5e-3477-326e-aa19-ec8f10279c28","instanceIdentifier":"8e762a7b-0194-1000-8605-6888545c62f3","name":"SplitJson","comments":"","position":{"x":-280.0,"y":200.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"91cc1be9-6ca0-3441-a388-8dd81954a0a0"},{"identifier":"914bf86e-fecb-38b3-ae85-39af81eaf124","instanceIdentifier":"8e7614ec-0194-1000-40f6-fed34d56c626","name":"GetFile","comments":"","position":{"x":-288.0,"y":-88.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/data","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"pets-data.json","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"91cc1be9-6ca0-3441-a388-8dd81954a0a0"},{"identifier":"b70f4f46-f31b-3283-82da-70f6e00a114e","instanceIdentifier":"8e806dbb-0194-1000-82ce-b707d4d3ae9f","name":"SplitJson","comments":"","position":{"x":-280.0,"y":488.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"91cc1be9-6ca0-3441-a388-8dd81954a0a0"},{"identifier":"ed3cfdac-ba3e-322e-a136-adf38c6b6b5d","instanceIdentifier":"8e931c26-0194-1000-f1c8-55314175fa15","name":"UpdateAttribute","comments":"","position":{"x":-304.0,"y":1088.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.1.0"},"properties":{"Delete Attributes Expression":null,"filename":"pets-data-${fragment.index}.json","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"91cc1be9-6ca0-3441-a388-8dd81954a0a0"},{"identifier":"352132c9-5665-3eac-a2ef-2ec4b0c1de0a","instanceIdentifier":"8e93892a-0194-1000-19c3-964505d11935","name":"PutFile","comments":"","position":{"x":-288.0,"y":1344.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/data","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"91cc1be9-6ca0-3441-a388-8dd81954a0a0"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"94ef9504-d580-3fc5-b2b5-6e332101de1c","instanceIdentifier":"8e7b579a-0194-1000-6f79-84acabf72f2b","name":"","source":{"id":"c83c5c5e-3477-326e-aa19-ec8f10279c28","type":"PROCESSOR","groupId":"91cc1be9-6ca0-3441-a388-8dd81954a0a0","name":"SplitJson","comments":"","instanceIdentifier":"8e762a7b-0194-1000-8605-6888545c62f3"},"destination":{"id":"b70f4f46-f31b-3283-82da-70f6e00a114e","type":"PROCESSOR","groupId":"91cc1be9-6ca0-3441-a388-8dd81954a0a0","name":"SplitJson","comments":"","instanceIdentifier":"8e806dbb-0194-1000-82ce-b707d4d3ae9f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"91cc1be9-6ca0-3441-a388-8dd81954a0a0"},{"identifier":"fe4bc6b6-df21-3c91-9338-16372febac76","instanceIdentifier":"8e93983f-0194-1000-c0c5-947b2f4e2b48","name":"","source":{"id":"ed3cfdac-ba3e-322e-a136-adf38c6b6b5d","type":"PROCESSOR","groupId":"91cc1be9-6ca0-3441-a388-8dd81954a0a0","name":"UpdateAttribute","comments":"","instanceIdentifier":"8e931c26-0194-1000-f1c8-55314175fa15"},"destination":{"id":"352132c9-5665-3eac-a2ef-2ec4b0c1de0a","type":"PROCESSOR","groupId":"91cc1be9-6ca0-3441-a388-8dd81954a0a0","name":"PutFile","comments":"","instanceIdentifier":"8e93892a-0194-1000-19c3-964505d11935"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"91cc1be9-6ca0-3441-a388-8dd81954a0a0"},{"identifier":"b20cfb95-9d94-353e-8d43-d99b4252dbee","instanceIdentifier":"8e80b271-0194-1000-e84f-bb61dd843812","name":"","source":{"id":"b70f4f46-f31b-3283-82da-70f6e00a114e","type":"PROCESSOR","groupId":"91cc1be9-6ca0-3441-a388-8dd81954a0a0","name":"SplitJson","comments":"","instanceIdentifier":"8e806dbb-0194-1000-82ce-b707d4d3ae9f"},"destination":{"id":"2d7995ce-921b-36c8-9e94-870a1038bbf6","type":"PROCESSOR","groupId":"91cc1be9-6ca0-3441-a388-8dd81954a0a0","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"8e80a6cd-0194-1000-f9fe-14c14e08781b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"91cc1be9-6ca0-3441-a388-8dd81954a0a0"},{"identifier":"aba84670-eac7-3f71-ae4f-b4ab0282f160","instanceIdentifier":"8e93a8ae-0194-1000-4c75-218a15487953","name":"","source":{"id":"352132c9-5665-3eac-a2ef-2ec4b0c1de0a","type":"PROCESSOR","groupId":"91cc1be9-6ca0-3441-a388-8dd81954a0a0","name":"PutFile","comments":"","instanceIdentifier":"8e93892a-0194-1000-19c3-964505d11935"},"destination":{"id":"4ced7676-7c39-31e9-ab0c-070f5e818d8f","type":"FUNNEL","groupId":"91cc1be9-6ca0-3441-a388-8dd81954a0a0","name":"Funnel","comments":"","instanceIdentifier":"8e82676b-0194-1000-a98d-ba76ab4b230c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"91cc1be9-6ca0-3441-a388-8dd81954a0a0"},{"identifier":"2d471639-085d-36d7-96aa-b9f7e8118da6","instanceIdentifier":"8e8e33ca-0194-1000-8d93-faea1667cbc7","name":"","source":{"id":"2d7995ce-921b-36c8-9e94-870a1038bbf6","type":"PROCESSOR","groupId":"91cc1be9-6ca0-3441-a388-8dd81954a0a0","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"8e80a6cd-0194-1000-f9fe-14c14e08781b"},"destination":{"id":"ed3cfdac-ba3e-322e-a136-adf38c6b6b5d","type":"PROCESSOR","groupId":"91cc1be9-6ca0-3441-a388-8dd81954a0a0","name":"UpdateAttribute","comments":"","instanceIdentifier":"8e931c26-0194-1000-f1c8-55314175fa15"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"91cc1be9-6ca0-3441-a388-8dd81954a0a0"},{"identifier":"86d8f8df-9c0b-371d-9ad7-381b2c6e0f15","instanceIdentifier":"8e76379d-0194-1000-0351-74fd95785ac9","name":"","source":{"id":"914bf86e-fecb-38b3-ae85-39af81eaf124","type":"PROCESSOR","groupId":"91cc1be9-6ca0-3441-a388-8dd81954a0a0","name":"GetFile","comments":"","instanceIdentifier":"8e7614ec-0194-1000-40f6-fed34d56c626"},"destination":{"id":"c83c5c5e-3477-326e-aa19-ec8f10279c28","type":"PROCESSOR","groupId":"91cc1be9-6ca0-3441-a388-8dd81954a0a0","name":"SplitJson","comments":"","instanceIdentifier":"8e762a7b-0194-1000-8605-6888545c62f3"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"91cc1be9-6ca0-3441-a388-8dd81954a0a0"}],"labels":[],"funnels":[{"identifier":"4ced7676-7c39-31e9-ab0c-070f5e818d8f","instanceIdentifier":"8e82676b-0194-1000-a98d-ba76ab4b230c","position":{"x":-160.0,"y":1608.0},"componentType":"FUNNEL","groupIdentifier":"91cc1be9-6ca0-3441-a388-8dd81954a0a0"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}