HW2/NiFi_Flow (1).json
{"flowContents":{"identifier":"91cc1be9-6ca0-3441-a388-8dd81954a0a0","instanceIdentifier":"8e7579cf-0194-1000-5adb-ded8861ae24e","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"2134a82d-61e5-3563-a221-8cbe3cf408c5","instanceIdentifier":"b2badc51-0194-1000-8ca2-887098ed3903","name":"GetFile","comments":"","position":{"x":-688.0,"y":90.89929962158203},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/data","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"IOT-temp.csv","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"91cc1be9-6ca0-3441-a388-8dd81954a0a0"},{"identifier":"678b6bc6-7bb9-3f1c-9ec0-d70d5796b878","instanceIdentifier":"b2bc086c-0194-1000-9977-524b27f9bb0b","name":"UpdateRecord","comments":"","position":{"x":-696.0,"y":576.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"Record Writer":null,"/noted_date":"${field.value:toDate('yyyy-MM-dd HH:mm:ss'):format('yyyy-MM-dd')}","Record Reader":null,"Replacement Value Strategy":"literal-value"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"/noted_date":{"name":"/noted_date","displayName":"/noted_date","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"91cc1be9-6ca0-3441-a388-8dd81954a0a0"},{"identifier":"97d5fa27-a46b-3779-99d0-9a478af1cb1e","instanceIdentifier":"b2bcb15c-0194-1000-0b08-3c6ad1ad97c6","name":"QueryRecord","comments":"","position":{"x":-720.0,"y":848.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"dbf-default-precision":"10","record-writer":null,"record-reader":null,"include-zero-record-flowfiles":"true","dbf-default-scale":"0"},"propertyDescriptors":{"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"91cc1be9-6ca0-3441-a388-8dd81954a0a0"},{"identifier":"c93c3833-f0b1-32e9-aa8b-d436800a7d19","instanceIdentifier":"b2bb6467-0194-1000-bf41-95959c745f6c","name":"QueryRecord","comments":"","position":{"x":-696.0,"y":328.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"dbf-default-precision":"10","Query":"SELECT *\nFROM FLOWFILE\nWHERE `out/in` = 'in'","record-writer":null,"record-reader":null,"include-zero-record-flowfiles":"true","dbf-default-scale":"0"},"propertyDescriptors":{"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Query":{"name":"Query","displayName":"Query","identifiesControllerService":false,"sensitive":false,"dynamic":true},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"91cc1be9-6ca0-3441-a388-8dd81954a0a0"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"a1572c44-9454-338b-bd03-694dff8e0816","instanceIdentifier":"b2bc2a04-0194-1000-016e-ded1b2e362f8","name":"","source":{"id":"c93c3833-f0b1-32e9-aa8b-d436800a7d19","type":"PROCESSOR","groupId":"91cc1be9-6ca0-3441-a388-8dd81954a0a0","name":"QueryRecord","comments":"","instanceIdentifier":"b2bb6467-0194-1000-bf41-95959c745f6c"},"destination":{"id":"678b6bc6-7bb9-3f1c-9ec0-d70d5796b878","type":"PROCESSOR","groupId":"91cc1be9-6ca0-3441-a388-8dd81954a0a0","name":"UpdateRecord","comments":"","instanceIdentifier":"b2bc086c-0194-1000-9977-524b27f9bb0b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Query"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"91cc1be9-6ca0-3441-a388-8dd81954a0a0"},{"identifier":"4506b346-8753-32c8-8616-1a5f6d494fbc","instanceIdentifier":"b2bce833-0194-1000-0bf0-e68b70d3b975","name":"","source":{"id":"97d5fa27-a46b-3779-99d0-9a478af1cb1e","type":"PROCESSOR","groupId":"91cc1be9-6ca0-3441-a388-8dd81954a0a0","name":"QueryRecord","comments":"","instanceIdentifier":"b2bcb15c-0194-1000-0b08-3c6ad1ad97c6"},"destination":{"id":"256dd2f9-7f82-3872-ae99-b51bac77b925","type":"FUNNEL","groupId":"91cc1be9-6ca0-3441-a388-8dd81954a0a0","name":"Funnel","comments":"","instanceIdentifier":"b2bcd454-0194-1000-1c59-a7bdf8175c32"},"labelIndex":0,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"91cc1be9-6ca0-3441-a388-8dd81954a0a0"},{"identifier":"d9e28ee2-a66e-3992-a455-d6ad379047e5","instanceIdentifier":"b2bb7029-0194-1000-9ff8-2fefacbc535d","name":"","source":{"id":"2134a82d-61e5-3563-a221-8cbe3cf408c5","type":"PROCESSOR","groupId":"91cc1be9-6ca0-3441-a388-8dd81954a0a0","name":"GetFile","comments":"","instanceIdentifier":"b2badc51-0194-1000-8ca2-887098ed3903"},"destination":{"id":"c93c3833-f0b1-32e9-aa8b-d436800a7d19","type":"PROCESSOR","groupId":"91cc1be9-6ca0-3441-a388-8dd81954a0a0","name":"QueryRecord","comments":"","instanceIdentifier":"b2bb6467-0194-1000-bf41-95959c745f6c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"91cc1be9-6ca0-3441-a388-8dd81954a0a0"},{"identifier":"9f8f1f9f-3fb7-373c-bb2b-189e349cb424","instanceIdentifier":"b2bcbeb8-0194-1000-354c-7ade53e06489","name":"","source":{"id":"678b6bc6-7bb9-3f1c-9ec0-d70d5796b878","type":"PROCESSOR","groupId":"91cc1be9-6ca0-3441-a388-8dd81954a0a0","name":"UpdateRecord","comments":"","instanceIdentifier":"b2bc086c-0194-1000-9977-524b27f9bb0b"},"destination":{"id":"97d5fa27-a46b-3779-99d0-9a478af1cb1e","type":"PROCESSOR","groupId":"91cc1be9-6ca0-3441-a388-8dd81954a0a0","name":"QueryRecord","comments":"","instanceIdentifier":"b2bcb15c-0194-1000-0b08-3c6ad1ad97c6"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"91cc1be9-6ca0-3441-a388-8dd81954a0a0"}],"labels":[],"funnels":[{"identifier":"256dd2f9-7f82-3872-ae99-b51bac77b925","instanceIdentifier":"b2bcd454-0194-1000-1c59-a7bdf8175c32","position":{"x":-523.4037367590156,"y":1068.9919894474065},"componentType":"FUNNEL","groupIdentifier":"91cc1be9-6ca0-3441-a388-8dd81954a0a0"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}